.DS_Store
/vendor
/.idea
program.php
program.js
/solution
exercises/*/solution/vendor
exercises/*/solution/composer.lock
/test/solutions/*/*/vendor
/test/solutions/*/*/composer.lock
.phpunit.result.cache
