<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="test/bootstrap.php">
    <testsuite name="My PHP Workshop Test Suite">
        <directory>./test</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
